# Include optional dependencies (needed for rollup)
optional=true
# Configure registry for specific scopes if needed
@fortawesome:registry=https://npm.fontawesome.com/
@awesome.me:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONTAWESOME_PACKAGE_TOKEN}